<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.example.org/plugin-config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">
		<extension point="com.landray.kmss.sys.mobile.config">
		<item name="info">
			<param name="name" value="{fs-base:table.fsBaseInvoicePool}" />
			<param name="modelName" value="com.landray.kmss.fs.base.model.FsBaseInvoicePool" />
		</item>
	</extension>
</plugin>
