<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean
		id="fsBaseInvoicePoolDao"
		parent="KmssExtendDataAreaDao"
		class="com.landray.kmss.fs.base.dao.hibernate.FsBaseInvoicePoolDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.fs.base.model.FsBaseInvoicePool" />
	</bean>

	<bean
		id="fsBaseInvoicePoolTarget"
		parent="KmssExtendDataTarget"
		class="com.landray.kmss.fs.base.service.spring.FsBaseInvoicePoolServiceImp">
		<property
			name="baseDao">
			<ref
				local="fsBaseInvoicePoolDao" />
		</property>
	</bean>
	<bean
		id="fsBaseInvoicePoolService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				local="fsBaseInvoicePoolTarget" />
		</property>
	</bean>

</beans>
